
html {
  /* background: rgba(130,100,50,.6) */
}
html * {
  color: white;
}

.flex {
  display: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cross {
  margin-top: 70px;
  z-index: -1;
  height: 500px;
  width: 60px;
  background: rgba(130, 88, 0, 1);
  position: absolute;
}

.cross2 {
  margin-top: 180px;
  z-index: -1;
  height: 60px;
  width: 340px;
  background: rgba(130, 88, 0, 1);
  position: absolute;
}

.left {
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-left: 50px solid white;
}
.right {
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-right: 50px solid white;
}


.logo {
  margin-top: 270px;
  background: rgba(20, 100, 220, 1);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

}

.logo * {
  font-family: 'Peddana', serif;
  font-size: 90px;
  letter-spacing: 0px;
  word-spacing: -15px;
}
.logo span:not(.text) {
  margin-left: -2px;
  letter-spacing: -3px;
  font-size: 60px;
}
.text {
  margin: 0 20px;
}
.tagline {
  font-family: 'Peddana', serif;
  font-size: 25px;
  color: white;
  margin-top: -40px;
}
